table{
    background-color: white;
    margin: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
thead{
    background-color: #e9ecef;
}
th, td{
    
}
table tbody input{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.agregar{
    background-color: rgba(40, 217, 40, 0.74);
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 30px
}
/*table{
    background-color: white;
    margin: 0;
    width: 100%;
}*/
/*th, td{
    padding: 5px;
    width: 33.3%;
}
th{
    
}
thead{
    background-color: #246355;
    border-bottom: solid 2px #0f362d;
    color: white;
}
tr:nth-child(2){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color: white;
}*/